
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    {% load static %}
    <title>Books and Authors!</title>
</head>
<body>
    <div class="container-fluid mt-3">
        <div class="col m-3 text-center">
            <h1>Books and Authors!</h1>
        </div>
        <div class="row align-items-start m-5">
            <div class="col-4">
                <h6 class="mb-4">Agregar Libro</h6>
                <form action=" " method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="title" class="form-label">Título</label> 
                        <input type="text" class="form-control" id="title" name="title">
                    </div>

                    <div class="mb-3">
                        <label for="description" class="form-label">Descripción</label> 
                        <input type="text" class="form-control" id="description" name="description">
                    </div>

                    <button type="submit" class="btn btn-primary">Ingresar</button>
                </form>
            </div>
            <div class="col">
                <table class="table table-success table-striped table-info">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Título</th>
                            <th>Descripción</th>
                            <th>Fecha de Creación</th>
                            <th>Ver</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for b in books %}
                        <tr>
                            <td>{{ b.id }}</td>
                            <td>{{ b.title }}</td>
                            <td>{{ b.description}}</td>
                            <td>{{ b.created_at|date:'d M, Y'}}</td>
                            <td><a href = 'book/{{b.id}}'>Detalles</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>

                </table>
            </div>
        </div>
    </div>
    <script src="{% static 'js/index.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
</body>
</html>